<div class="container-md border border-secondary rounded p-3 my-5">
  <div class="text-center"><h2>About</h2></div>
  <p>My name is Rony Boscan and I'm a Computer Programmer/Web Developer. I made this website as a college project, based on the <a href="https://livefitfood.ca/" target="_blank">LiveFit</a> meals web store.</p>
  <p>The store allows to navigate through products, register a new user, log into an account, add products to a shopping cart, checkout and receive a confirmation email of your order, and create/edit/delete products from the catalog (meals).</p>
  <p>The project implements the following features:</p>
  <ul>
    <li>An Express/Node.js server, with all routes fully configured.</li>
    <li>Express Handlebars as a rendering engine.</li>
    <li>Mongoose module to connect to a MongoDB/Atlas database.</li>
    <li>Multer module to process uploading images when creating or editing meals (store clerk user).</li>
    <li>File System module to delete existing images when editing or deleting meals (store clerk user).</li>
    <li>Client Sessions module to support login in and authentication of users.</li>
    <li>bcrypt.js encryption module to securely encrypt/hash user passwords.</li>
    <li>Nodemailer module to configure and send emails to users upon registration and whenever an order is completed.</li>
    <li>Bootstrap 4 implementation.</li>
  </ul>
  {{#if user}}
    {{#if customer}}
    <p>You are currently logged with a customer account. If you wish to test the store clerk functionalities for yourself, <a href="javascript:void(0)">click here</a>.</p>
    {{/if}}
    {{#if clerk}}
    <p>You are currently logged with a clerk account. If you want to disable this option and continue to test client functionalities, <a href="javascript:void(0)">click here</a></p>
    {{/if}}
  {{else}}
  <p>If you want to try a customer account, you just have to <a href="/register">register</a> to create that account. You can latter upgrade that account to a store clerk account to test those functionalities.</p>
  {{/if}}
</div>